body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: #999;
    display: flex;
    flex-direction: column;
    height: 100vh;
}



header {
    height: 15%;
    max-height: 200px;
    background-color: #b8c8ec;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

footer {
    align-items: center;
}

button {
    padding: 1rem;
    background-color: #999;
    border: none;
    border-radius: 0.3rem;
}

button:hover {
    background-color: white;
    color: black;

}
.btn-primary {
    background-color: #002984;
    color: white;

}

.column, .images {
    width: 95%;
    height: 50%;
    max-height: 300px;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#nav-menu {
    float: right;
    /* margin-top: 50px; */

}


#column-1 {

    background-color: red;
}

#column-2 {
    background-color: greenyellow;
}

#column-3 {
    background-color: blue;
}


footer {
    background-color: #9a9da3;

}



/* Media Queries */
@media screen and (min-width: 800px) {

    main {
        flex-direction: row;
    }


}

/* Add a second media querey that changes more than just the color*/
@media screen and (max-width: 600px) {

    .column {
        width: 90%;
        height: 90%
    }

    #column-1 {
        background-color: green;

    }

    #nav-menu {
        max-width: 200px;
    }

    .nav-list {
        display: inline;
        padding: 10px;
    }
}